@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/poetsen-one');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Poetsen One', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container {
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
}

.product {
  text-align: center;
}
.swiper-wrapper {
  background-color: transparent !important;
}
.swiper-slide {
  background-color: transparent !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #000 !important; 
}
.swiper-pagination-bullet {
  background-color: #000 !important; 
}


